.first {
  width: 25%;
}
.AddHome {
  margin: 2% 0 0 2%;
  position: relative;
  height: 77.5vh;
}
.FormAdd {
  display: flex;
  flex-wrap: wrap;
}
.Action button {
  width: 255px;
  padding: 10px 0;
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 19px 0 16px 0;
  color: gray;
  font-size: 25px;
  outline: 0;
  border: 0;
  background-color: black;
  cursor: pointer;
}
@media (max-width:700px) {
    .FormAdd{
      display: block;
    }
    .Action button{
      position: absolute;
      
    }
    .AddHome {
      margin: 2% 0 0 2%;
      position: relative;
      height: 79vh;
    }
    .first{
      width: 98%;
      margin-right: 1%;
    }
    .FormAdd{
      text-align: center;
  }
  .first textarea {
      width: 100%;
  }
}
